{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    
</head>
<body>
     <div class="centered-content">
        <img src="{% static 'images/logo.jpeg' %}" alt="Django Logo">
        <form action="{% url 'contact' %}" method="get" > 
            <button type="submit" class="btn">Click to Enter Form</button>
        </form>

     </div>
    

    
</body>
</html> 